@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --shadow-color: rgb(68, 68, 68);
  --border-color-dashed: rgb(177, 136, 24);
  --tekt-color: rgb(255, 255, 255);
  --border-down-dashed: rgb(199, 192, 192);
}

/* body {
  overflow: hidden;
  background: linear-gradient(
    -45deg, #569282,
    #6b9fb7,
    #8163b9,
    #67a482,
    #789359,
    #569282
  ); */
/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
/* background-size: 400% 400%; */
/* animation: gradient 17s ease infinite; */
/* height: 300vh; */
/* margin: 0;
  height: auto;
} */

body {
  /* overflow: hidden; */
  background: linear-gradient(
    -45deg,
    #adadad,
    #798c94,
    #696969,
    #49524d,
    #4e4e4e
  );
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
  height: 300vh;
  margin: 0;
  height: auto;
  color: var(--tekt-color);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page {
  max-width: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

header {
  margin: 1% 0 -4% 0;
  width: 90%;
  /* border: solid 2px peru; */
}

.icons {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icons img {
  margin: 0 5px 0 5px;
}

.linkedin_icon {
  width: 40px;
  transition: 0.2s;
}

.linkedin_icon:hover {
  transform: scale(1.2);
  filter: invert(27%) brightness(1000%) contrast(100%);
}

.facebok_icon {
  width: 44px;
  transition: 0.2s;
}

.facebok_icon:hover {
  transform: scale(1.2);
  filter: invert(27%) brightness(1000%) contrast(100%);
}

.github_icon {
  width: 44px;
  transition: 0.2s;
}

.github_icon:hover {
  transform: scale(1.2);
  filter: invert(27%) brightness(1000%) contrast(100%);
}

/* ///////////// przygotowany odnośnik do ABOUT /////////////////// */

.aboutclas {
  display: flex;
  /* display: none; */
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* border-right: 2px dashed rgb(111, 111, 111); */
  justify-content: flex-end;
}

.aboutButton {
  /* border-right: 2px dashed rgb(111, 111, 111); */
  border-right: 2px dashed var(--border-color-dashed);
  height: 100%;
  margin: 3px;
  padding: 8px 25px;
  font-size: 120%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.aboutButton a {
  text-decoration: none;
  color: black;
}

.aboutButton a:hover {
  /* opacity: 0.5; */
  color: rgb(255, 255, 255);
}

.content {
  /* border: 2px dashed rgb(111, 111, 111); */
  border: 2px dashed var(--border-color-dashed);
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}
.content2 {
  width: 92%;
  padding: 1%;
}

.names {
  width: 700px;
  text-align: center;
  padding: 20px;
}

.names a {
  text-decoration: none;
  color: black;
}

.names a:hover {
  opacity: 0.5;
}

.grubo a {
  font-weight: 700;
  font-size: 20px;
}

.klik {
  text-align: center;
  padding: 20px 20px 0px 20px;
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 100%;
  text-align: center;
}

.rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  padding: 50px;
}

.rows h2 {
  text-align: left;
}

.RowsInRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  justify-content: space-evenly;
  /* justify-content: space-beetwen;  /// do uruchomienia kiedy 
                                          będzie więcej projektów*/
  align-items: flex-start;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  /* overflow-y: hidden; */
  /* border: 4px solid peru; */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9c9c9c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .rows h2 {
  border-bottom: 2px solid peru;
  padding-bottom: 15;
} */

hr.new1 {
  border: none;
  /* border-top: 2px dashed rgb(111, 111, 111); */
  border-top: 2px dashed var(--border-color-dashed);
  width: 100%;
  margin-bottom: 15px;
  transform: translateY(-760%);
}

.square1 {
  max-width: 320px;
  min-width: 200px;
  min-height: 300px;
  /* height: 360px; */
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed rgb(111, 111, 111); */
  border: 2px dashed var(--border-color-dashed);
  border-radius: 15px;
}

.square1 img {
  max-height: 300px;
  margin: 30px 20px 0 0;
}

.square1 a {
  margin: 0 0 20px 0;
}

@media screen and (max-width: 800px) {
  .aboutButton {
    padding: 12px 15px;
    font-size: 100%;
  }

  .RowsInRows {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .rows h2 {
    font-size: 120%;
  }
  .rows {
    padding: 10px;
  }

  .square1 {
    /* min-height: 260px;
    max-height: 300px; */
    height: auto;
    padding: 10px 5px;
    margin: 5px 5px;
  }

  hr.new1 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 250px) {
  .aboutButton {
    padding: 12px 8px 12px 0px;
    font-size: 80%;
  }
}

.pic1 {
  width: 90%;
}

.pic1 img {
  width: 100%;
  transition: 0.2s;
}

.pic1 img:hover {
  width: 100%;
  transform: scale(1.08);
  border-radius: 20px;
}

button {
  padding: 15px 32px;
  text-decoration: none;
  transition-duration: 0.9s;
  border-radius: 10px;
  background-color: black;
  border: none;
  text-align: center;
  color: white;
  font-weight: 200;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  transition: 0.2s;
}
button:hover {
  background: linear-gradient(-45deg, #bed6a1, #71adc9, #937dc0, #6b9b8e);
  background-size: 400% 400%;
  animation: gradient 17s ease infinite;
  transform: scale(1.2);

  /* color: rgb(48, 48, 48); */
}

.descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px 20px;
}

.part1 p {
  /* justify-self: center/; */
  margin: 50px;
  width: 500px;
}

.part4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px 20px;
}
.part4 p {
  margin: 60px;
  width: 500px;
}

.photo {
  width: 50%;
}

.photo img {
  width: 100%;
  border-radius: 0 30px;
  transition: 0.3s;
  /* margin: 100px; */
  box-shadow: 10px 10px 5px var(--shadow-color);
  -moz-box-shadow: 10px 10px 5px var(--shadow-color);
  -webkit-box-shadow: 10px 10px 5px var(--shadow-color);
  -khtml-box-shadow: 10px 10px 5px var(--shadow-color);
}

.photo img:active {
  transform: scale(1.5);
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px 20px;
  text-align: center;
}

.part2 p {
  width: 50%;
}

.photo1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* .photo1:active {
  transform: scale(1.5);
} */

.photo1 img {
  width: 100%;
  transition: 0.3s;
  border-radius: 0 30px;
  margin: 25px;
  box-shadow: 10px 10px 5px var(--shadow-color);
  -moz-box-shadow: 10px 10px 5px var(--shadow-color);
  -webkit-box-shadow: 10px 10px 5px var(--shadow-color);
  -khtml-box-shadow: 10px 10px 5px var(--shadow-color);
}

.photo1 img:active {
  transform: scale(1.5);
}

.photo_second {
  padding: 50px;
}

.photo11 {
  max-width: 60%;
  transition: 0.3s;
}

.photo11 img {
  width: 100%;
  border-radius: 0 30px;
  box-shadow: 10px 10px 5px var(--shadow-color);
  -moz-box-shadow: 10px 10px 5px var(--shadow-color);
  -webkit-box-shadow: 10px 10px 5px var(--shadow-color);
  -khtml-box-shadow: 10px 10px 5px var(--shadow-color);
}

.photo11:active {
  transform: scale(1.5);
}

.part3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px 20px;
  text-align: center;
}

.part3 img {
  max-width: 500px;
}

.youtubelinkdostrony {
  transition: 0.4s;
}

.youtubelinkdostrony:hover {
  transform: scale(1.1);
}

.home {
  margin: 20px 20px 20px 40px;
}

.exit-to-index {
  position: absolute;
  left: 40px;
  margin: 20px 0 0 0;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(img/corner-up-left.svg);
}

.exit-to-index:hover {
  filter: invert(27%) brightness(1000%) contrast(100%);
  transform: rotate(-360deg) scale(1.2);
}

.text-width {
  width: 80%;
}

@media screen and (max-width: 1500px) {
  .exit-to-index {
    right: 40px;
    margin: 6.5% 1% 0 0;
  }
}

@media screen and (max-width: 970px) {
  .exit-to-index {
    top: 20px;
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  .photo:active {
    transform: scale(2);
  }
  .exit-to-index {
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
  .projects {
    flex-wrap: wrap;
  }
  .square1 {
    margin-bottom: 20px;
  }
  .names {
    width: auto;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .exit-to-index {
    top: -30px;
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .exit-to-index {
    top: -24px;
    left: 10px;
    margin: 6.5% 0 0 0;
  }
}

@media screen and (max-width: 400px) {
  .exit-to-index {
    top: -18px;
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
}

@media screen and (max-width: 300px) {
  .exit-to-index {
    top: -14px;
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
}

@media screen and (max-width: 250px) {
  .exit-to-index {
    top: -10px;
    /* left: 10px; */
    margin: 6.5% 0 0 0;
  }
}

/* //////////////  Strona powitalna ////////////////////       / */

/* w pliku styleNowyIndex.css */

/* ////////////////////////// CENNIK /////////////////////////// */

.cennikdescrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  width: 900px;
}

.odstepStart {
  height: 70px;
}

.odstepdownStart {
  height: 40px;
}

.cennikpart1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 150px;
}

.cennikpart1 p {
  margin-bottom: 50px;
}

.cennikpart1 .p1 {
  max-width: 600px;
}

.cennikpart1 h2 {
  text-align: center;
}

.cennikpart2,
.cennikpart3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.cennikpart2 .square1 {
  min-width: 400px;
}

.cennikpart2 img {
  max-height: 100px;
  width: auto;
  margin: 30px 20px 0 22px;
  transition: none;
}

.p1 {
  font-size: 18px;
}

.cennikpart3 img {
  max-height: 100px;
  width: auto;
  margin: 30px 20px 0 22px;
  transition: none;
}

.square11 {
  max-width: auto;
  min-width: 200px;
  min-height: auto;
  /* height: 360px; */
  /* margin: 0 20px 20px 20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--border-down-dashed);
  border-radius: 15px;
}

.bordrerix {
  height: 95%;
  border-left: 2px dashed var(--border-down-dashed);
}

.square14 {
  width: 350px;
  padding: 0px 10px;
  margin: 5px;
  /* border: 2px solid peru; */
  align-self: flex-start;
}

#text-widt {
  text-align: center;
}

.leftInside {
  padding: 40px 0px;
  text-align: start;
  line-height: 1.6;
}

.listaStron a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.listaStron a:hover {
  opacity: 0.5;
}

.grubacena {
  font-size: 35px;
}

.square141 {
  display: flex;
  width: auto;
  height: auto;
  padding: 0px 80px;
  margin: 5px;
  /* border: 2px solid peru; */
  align-self: flex-start;
  flex-direction: row;
}

.lines {
  line-height: 4;
}

.midInside {
  padding: 40px 0px;
  text-align: center;
}

.square241 {
  width: auto;
  height: auto;
  max-width: 300px;
  /* height: 360px; */
  /* margin: 0 20px 20px 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--border-down-dashed);
  border-radius: 15px;
  padding: 60px;
  margin: 20px;
}

.giganapis {
  font-size: 25px;
}

.line241 {
  line-height: 2;
}

.cennikpart1 ul {
  text-align: start;
  line-height: 1.8;
}

/* .rightInside ul {
  list-style-type: none;
} */

.szczegolowePakietybox {
  width: 85%;
  height: auto;
  margin-top: 20px;
}

.pakiet {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pakiet .leftInside {
  margin: 0 0 0 50px;
}

.pakietOpis {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.pakiet .cennikpic1 {
  align-self: flex-end;
  justify-self: flex-end;
  margin: -110px 0 -10px 0;
  display: none;
}

.pakiet .cennikpic1 img {
  max-height: 80px;
}

.PakietOpisLines {
  line-height: 1.9;
}

.bordrerixPoziom {
  width: 270px;
  border-bottom: 2px dashed var(--border-color-dashed);
  margin-left: -20px;
}

.pakietIkona {
  display: flex;
  align-self: center;
  margin: 0 -20px 0 0;
}

.pakietIkona img {
  max-height: 100px;
  width: auto;
  margin: 30px 20px 0 22px;
  transition: none;
}

.pakietIkona .square1 {
  padding-right: 10px;
}

.legendaZmian {
  font-size: 13px;
}

@media screen and (max-width: 1250px) {
  .cennikdescrip {
    width: auto;
    margin: 10px;
  }
  .cennikpart1 {
    margin: 20px;
  }
  .cennikpart2 .square1 {
    min-width: 200px;
  }
  .cennikpart3 .square13 {
    flex-direction: column;
  }

  .cennikpart3 {
    width: 90%;
  }

  .cennikpart3 img {
    max-height: 100px;
    width: auto;
    margin: 30px 20px 0 22px;
    transition: none;
  }
  .square14 {
    width: 300px;
  }
}

@media screen and (max-width: 1050px) {
  .szczegolowePakietybox {
    width: 92%;
    padding-left: 35px;
  }
}

@media screen and (max-width: 870px) {
  .szczegolowePakietybox {
    width: 95%;
    padding-left: 0;
  }
  .bordrerixPoziom {
    width: 150px;
    margin-left: 2px;
  }
  .square241 {
    padding: 20px;
    margin: 10px;
  }
  .pakietIkona {
    display: none;
  }
  .pakiet {
    flex-direction: column;
  }
  .pakietIkona {
    height: 10px;
  }
  .pakietOpis {
    width: 95%;
  }
  .pakiet .cennikpic1 {
    display: block;
  }
  .grubacena {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .square11 {
    flex-direction: column;
  }

  .bordrerix {
    width: 85%;
    border-bottom: 2px dashed rgb(111, 111, 111);
  }
  .square14 {
    width: 350px;
    padding: 0px 25px;
    margin-top: 30px;
    align-self: center;
  }

  .square241 {
    padding: 10px;
    margin: 10px;
  }
  .square241 p {
    font-size: 15px;
  }

  .giganapis {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .cennikpart2 {
    flex-direction: column;
  }
  .square14 {
    width: auto;
    padding: 0;
    margin: 0px;
  }
  .rightInside {
    padding: 0;
    text-align: center;
  }
  .pakiet .leftInside {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 330px) {
  .pakiet .cennikpic1 img {
    height: 60px;
  }
}

/* ///////////////////////// KONIEC CENNIKA //////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// */

/* ///////////////////////// POCZĄTEK ABOUT //////////////////////////// */

.paczka {
  height: 700px;
}

/* ///////////////////////// KONIEC ABOUT //////////////////////////// */
